{% extends 'ferremax/base.html' %}

{% load humanize %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <h1>Carrito de Compras</h1>
  {% if cart %}
    <ul>
      {% for key, item in cart.items %}
      <li class="cart-item">
        <div class="cart-item-info">
          <img src="{{ item.image }}" alt="{{ item.name }}">
          <div>
            <span class="cart-item-name">{{ item.name }}</span> (x{{ item.quantity }})
          </div>
          <span class="cart-item-price">${{ item.price | intcomma }}</span>
        </div>
        <div>
          <a href="{% url 'increase_quantity' key %}" class="btn btn-primary btn-sm">+</a>
          <a href="{% url 'decrease_quantity' key %}" class="btn btn-danger btn-sm">-</a>
          <a href="{% url 'remove_from_cart' key %}" class="btn btn-warning btn-sm">Eliminar</a>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="cart-total">Total: ${{ total | intcomma }}</div>
    <a href="{% url 'init_payment' %}" class="btn btn-primary">Pagar</a>
  {% else %}
    <p>Tu carrito está vacío</p>
  {% endif %}
</div>
{% endblock %}


