{% extends 'ferremax/base.html' %}

{% load humanize %}

{% block css %}

<style>
  
.container {
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #007bff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  max-width: 50px;
  margin-right: 1rem;
}

.cart-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  font-size: 1.1rem;
}

.cart-total {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

</style>

{% endblock %}

{% block content %}
<div class="container">
  <h1>Carrito de Compras</h1>
  {% if cart %}
    <ul>
      {% for key, item in cart.items %}
      <li class="cart-item">
        <div class="cart-item-info">
          <img src="{{ item.image }}" alt="{{ item.name }}">
          <div>
            <span class="cart-item-name">{{ item.name }}</span> (x{{ item.quantity }})
          </div>
          <span class="cart-item-price">${{ item.price | intcomma }}</span>
        </div>
        <div>
          <a href="{% url 'increase_quantity' key %}" class="btn btn-primary btn-sm">+</a>
          <a href="{% url 'decrease_quantity' key %}" class="btn btn-danger btn-sm">-</a>
          <a href="{% url 'remove_from_cart' key %}" class="btn btn-warning btn-sm">Eliminar</a>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="cart-total">Total: ${{ total | intcomma }}</div>
    <a href="{% url 'init_payment' %}" class="btn btn-primary">Pagar</a>
  {% else %}
    <p>Tu carrito está vacío</p>
  {% endif %}
</div>
{% endblock %}


