{% extends 'ferremax/base.html' %}

{% load static %}

{% block css %}

<style>
  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: aliceblue;
  }

  nav {
      background-color: black;
      padding: 10px;
      display: flex;
  }

  nav a {
      color: white;
      text-decoration: none;
      padding: 14px 16px;
      display: inline-block;
      transition: transform 0.3s ease-in-out;
  }

  nav a:hover {
      transform: scale(1.2);
      color: white; /* Cambia el color del texto al pasar el ratón */
  }

  .logo img {
      height: 40px; /* Ajusta la altura según el tamaño de tu logo */
      width: auto; /* Para mantener la proporción del logo */
      display: block;
      transition: transform 0.3s ease-in-out; /* Agrega una transición a la propiedad transform */
  }

  .logo img:hover {
      transform: rotate(360deg); /* Realiza una rotación de 360 grados al pasar el ratón sobre el logo */
  }

  #carouselExampleIndicators {
      max-width: 1050px; /* Ajusta el ancho del carrusel según sea necesario */
      margin: 20px auto; /* Centra el carrusel en la página */
      margin-top: -30px;
  }

  /* Estilo para las imágenes dentro de las diapositivas */
  .carousel-inner img {
      width: 100%; /* Hace que las imágenes ocupen el 100% del ancho de la diapositiva */
      height: auto; /* Mantiene la proporción de aspecto de las imágenes */
      border-radius: 8px; /* Agrega bordes redondeados a las imágenes */
  }

  .container {
      text-align: center;
      padding: 20px;
  }

  .centered-image {
      max-width: 50%; /* Define el ancho máximo de la imagen */
      display: block; /* Centra la imagen horizontalmente */
      margin: 0 auto; /* Centra la imagen horizontalmente */
  }

  .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  .card {
      margin: 10px;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
      cursor: default;
  }

  .card:hover {
      box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
      transform: translateY(-3%);
  }

  .container {
      display: flex;
      align-items: center;
  }

  .centered-image {
      margin-right: 20px; /* Espacio entre la imagen y la cuenta regresiva */
  }

  .countdown-container {
      flex-grow: 1; /* Permite que la cuenta regresiva ocupe todo el espacio restante */
  }

  #timer {
      display: flex;
      justify-content: center;
  }

  #timer > div {
      margin: 0 10px;
  }

  #timer span {
      font-size: 48px;
      color: #333;
  }

  .smalltext {
      font-size: 12px;
      color: #555;
  }

  .centered-image {
      max-width: 50%;
      display: block;
      margin: 0 auto;
  }
</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}



<div class="container">
  <img src="{% static 'ferremax/img/Inicio-removebg-preview.png' %}" alt="Imagen" class="centered-image">
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'ferremax/img/ferreteria.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'ferremax/img/ferreteria.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'ferremax/img/ferreteria.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <img src="{% static 'ferremax/img/Inicio-removebg-preview (1).png' %}" alt="Imagen" class="centered-image">
  <div class="countdown-container">
    <div class="countdown">
      <h1>Cuenta Regresiva</h1>
      <div id="timer">
        <div>
          <span id="days">00</span>
          <div class="smalltext">Días</div>
        </div>
        <div>
          <span id="hours">00</span>
          <div class="smalltext">Horas</div>
        </div>
        <div>
          <span id="minutes">00</span>
          <div class="smalltext">Minutos</div>
        </div>
        <div>
          <span id="seconds">00</span>
          <div class="smalltext">Segundos</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card" style="width: 18rem;" onclick="window.location.href='pagina1.html'">
    <img src="{% static 'ferremax/img/Cintamedir.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cinta de medir</h5>
      <p class="card-text">Descripción del Producto 1</p>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" onclick="window.location.href='pagina1.html'">
    <img src="{% static 'ferremax/img/Torni.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tornillos</h5>
      <p class="card-text">Descripción del Producto 1</p>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" onclick="window.location.href='pagina1.html'">
    <img src="{% static 'ferremax/img/Martillo.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Martillos</h5>
      <p class="card-text">Descripción del Producto 1</p>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div>
  </div>

  <img src="{% static 'ferremax/img/Inicio__1_-removebg-preview (1).png' %}" alt="Imagen" class="centered-image">

  <div class="container">
    <div class="card" style="width: 18rem;" onclick="window.location.href='pagina1.html'">
      <img src="{% static 'ferremax/img/Casco.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cascos</h5>
        <p class="card-text">Descripción del Producto 1</p>
        <a href="#" class="btn btn-primary">Agregar al carrito</a>
      </div>
    </div>
      <div class="card" style="width: 18rem;" onclick="window.location.href='pagina1.html'">
        <img src="{% static 'ferremax/img/Barnices.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Barnices</h5>
          <p class="card-text">Descripción del Producto 1</p>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
        <div class="card" style="width: 18rem;" onclick="window.location.href='pagina1.html'">
          <img src="{% static 'ferremax/img/Taladro.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Taladros </h5>
            <p class="card-text">Descripción del Producto 1</p>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>

{% endblock %}