{% extends 'ferremax/base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="card" style="width: 18rem;" onclick="window.location.href=''">
    <img src="{% static 'ferremax/img/herramientas-manuales.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Herramientas Manuales</h5>
      <a href="Herramientas-Manuales.html" class="btn btn-primary">Ver Catalogo</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;" onclick="window.location.href='pagina2.html'">
    <img src="{% static 'ferremax/img/Materiales basicos.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Materiales Basicos </h5>
      <a href="Materiales-basicos.html" class="btn btn-primary">Ver Catalogo</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;" onclick="window.location.href='pagina3.html'">
    <img src="{% static 'ferremax/img/Equipos de seguridad.jpg' %}" class=card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Equipos de seguridad</h5>
      <a href="Equipos-seguridad.html" class="btn btn-primary">Ver Catalogo</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;" onclick="window.location.href='pagina3.html'">
      <img src="{% static 'ferremax/img/torkel-expertos-en-tornillos-y-algo-mas.jpg' %}" class=card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tornillos y Anclajes</h5>
        <a href="Tornillos-anclajes.html" class="btn btn-primary">Ver Catalogo</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;" onclick="window.location.href='pagina3.html'">
      <img src="{% static 'ferremax/img/Equipos de seguridad.jpg' %}" class=card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fijaciones y Adhesivos</h5>
        <a href="Fijaciones-adhesivos.html" class="btn btn-primary">Ver Catalogo</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;" onclick="window.location.href='pagina3.html'">
      <img src="{% static 'ferremax/img/images.jpg' %}" class=card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Equipos de Medicion</h5>
        <a href="Equipo-medicion.html" class="btn btn-primary">Ver Catalogo</a>
      </div>
    </div>
</div>

{% endblock %}