{% extends 'ferremax/base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

{% load humanize %}

<div class="container">
  {% for p in productos %}
    <div class="card" style="width: 18rem;">
      {% if p.imagen %}
      <img src="{{ p.imagen.url }}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ p.categoria | capfirst }}</h5>
        <h2 class="card-title">{{ p.nombre | title }}</h2>
        <h3 class="card-title">{{ p.precio | intcomma }}</h3>
        <p class="card-text">{{ p.descripcion }}</p>
        <a href="#" class="btn btn-primary">Agregar al carrito</a>
      </div>
    </div>
    {% endfor %}
{% endblock %}